@using System.Text.RegularExpressions
@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Order Listed";
    Paginate pager = new Paginate();
    int pageno = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageno = pager.CurrentPage;
    }
}
<h3>List Order</h3>

<table class="table" id="myTable">
    >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order code</th>
            <th scope="col">User name</th>
            <th scope="col">Order Date</th>
            <th scope="col">Status</th>
            <th scope="col">Payment methob</th>
            <th scope="col">Action </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <th>@item.Id</th>
                <th scope="row">@item.OrderCode</th>

                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>

                @if (@item.Status == 1)
                {
                    <td style="color:darkgreen">Đơn hàng mới</td>
                }
                else
                {
                    <td style="color:crimson">đơn hàng thành công</td>
                }

                <td> <a asp-action="DetailVnPay" asp-controller="VnPay" asp-route-id="@(Regex.Match(item.OrderMethob, @"\d+").Value)" > </a>@item.OrderMethob</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
                    <a class="btn btn-danger btn-sm confirmDeletion" asp-action="delete" asp-controller="Order" asp-route-id="@item.Id">Delete</a>

                    @if (item.Status == 1)
                    {
                        <a class="btn btn-danger btn-sm" asp-action="Shutdown" asp-controller="Order" asp-route-id="@item.Id">Set off</a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-sm" asp-action="Turnon" asp-controller="Order" asp-route-id="@item.Id">Set on</a>

                    }

                </td>
               
            </tr>
        }


    </tbody>
</table>
<partial name="_Paging" model="@pager" />