
@model CartItemViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h4>Gior Hanng</h4>
@{
}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				@if (Model.CartItems.Count >0)
				{
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td >Name</td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td> #</td>
							<td> </td>
							<td> </td>
						
					</tr>
				</thead>
				
					
						@foreach (var item in Model.CartItems)
					{
						<tbody>
							<tr>
								<td class="cart_product">
									<a><img src="~/media/products/@item.image" alt="@item.ProductName" width="80px"></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
									
								</td>
								<td class="cart_price">
									<p>@(((int)item.Price).ToString("N0")) VND</p>
								</td>
								<td class="cart_quantity">

									@*<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductID"> </a>*@
									<button class="btn btn-default increase-cart" data-product_id="@item.ProductID">+</button>
									<input class="cart_quantity_input" type="text" data-product-id="@item.ProductID" value="@item.Quantati" autocomplete="off" size="2">
									@*<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductID"> - </a>*@
									<button class="btn btn-warning degrease-cart" data-product_id="@item.ProductID">-</button>
								
								</td>
								<td class="cart_total">
									<p class="cart_total_price">@Model.CartItems.Where(x => x.ProductID == item.ProductID).Sum(a => a.Quantati * a.Price).ToString("N0") VND</p>
								
								</td>
								<td class="cart_delete">
									<a asp-controller ="Cart" asp-action="Delete" asp-route-id="@item.ProductID"><i class="fa fa-times"></i></a>
								</td>
							</tr>
							



						</tbody>
					}

					<tr >
						<td colspan="6">Tổng :<p class="cart_total_price">@Model.GrandTotal.ToString("N0") VND</p></td>
						<td><a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Clear"> Clear </a> </td>
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<td><a class="btn btn-default btn-sm" asp-controller="Checkout" asp-action="Index"> Checkout </a>
								
							</td>
						}
						else
						{
							<td>
								<li><a class="btn btn-default btn-sm" asp-action="Login" asp-controller="Account"><i class="fa fa-lock"></i> Login</a> </li>
								
							</td>
							
							
						}
					</tr>
						
				}
				else
				{ <tr>
						<td colspan="4"><h4> Your cart is empty !</h4></td>
				</tr>
					
				}
			</table>
		</div>
	</div>
</section>
@section Scripts {
	<script>
		$(document).ready(function () {
			$('.increase-cart').click(function () {
				var Id = $(this).data("product_id");


				$.ajax({

					type: "POST",
					url: "@Url.Action("Increase", "Cart")",
					data: { id: Id },

					success: function (result) {
						if (result.success) {
							$(`.cart_quantity_input[data-product-id="${result.productId}"]`).val(result.quantity);
							
						}
						else {
							Swal.fire({
								icon: "error",
								title: "add to cart fail",
								text: "Something went wrong!",

							});
						}
						
					},
					error: function (req, status, error) {
						console.error("Error updating order", error);
					}
				})


			})

		})


				
	</script>
	<script>
		$(document).ready(function () {
			$('.degrease-cart').click(function () {
				var Id = $(this).data("product_id");

				$.ajax({

					type: "POST",
					url: "@Url.Action("Decrease", "Cart")",
					data: { id: Id },

					success: function (result) {
						
						if (result.success) {
							if (result.quantity != 0) {
								$(`.cart_quantity_input[data-product-id="${result.productId}"]`).val(result.quantity);
							}
							else
							{
								location.reload();
							}
							
							
							 
							
						}
						else {
							Swal.fire({
								icon: "error",
								title: "add to cart fail",
								text: "Something went wrong!",

							});
						}

					},
					error: function (req, status, error) {
						console.error("Error updating order", error);
					}
				})


			})
		})
	</script>
}